.event-card {
    /* background-color: #333;
    padding: 5rem 2rem;
    width: 15vw;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    color:white; */

    background-color: #d0d0d0; /* Background color for each card */
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: shadow for depth */
    min-width: 200px; /* Set a minimum width to prevent cards f*/
    
}
/* 
.event-card h2 {
    margin: 0;
    font-size: 24px;
}

.event-card p {
    margin: 4px 0;
    font-size: 16px;
} */
