.event-cards-container{
    /* display: flex;
    justify-content: left;
    flex-wrap: wrap;
    margin-left: 5vw;
    padding-bottom: 3rem; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust min-width as needed */
    gap: 20px; /* Space between cards */
    padding:10px 20px; /* Space between the container edge and the cards */
    max-width: 1200px; /* Optional: limit the max-width of the container */
    margin: 0 auto; /* Center the container */
}