.newsletter-section {
    padding: 2rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.newsletter-section h4 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.newsletter-section input {
    padding: 0.8rem;
    font-size: 1rem;
    width: 60%;
    max-width: 400px;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.newsletter-section button {
    padding: 0.8rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}