.event-card {
  position: relative;
  padding: 2rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s ease;
  cursor: default;
}

.event-card p {
  opacity: 0;
  margin-bottom: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.event-card:hover h2,
.event-card:hover img {
  opacity: 0;
  transition: opacity 0.1s ease;
}

.event-card:hover p {
  opacity: 1;
  transition: opacity 0.1s ease;
}
