.footer{
    text-align: center;
    background-color: rgb(39, 39, 39);
    color: white;
    font-size: 1.1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

.main{
    display: flex;                    
    justify-content: center;           
    align-items: flex-start;               
    width: 100%;  
    padding-bottom: 3rem;
}

.footer-section img{
    max-width: 4rem;
    border-radius: 1rem;
    margin: 0.5rem;
}
.footer-section {
    flex: 1;                           
    min-width: 0;                     
}

.footer-section:first-child,
.footer-section:last-child {
    margin: 0 2rem;                   
}