.team-card {
  background-color: #faf9f6;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 200px;
  text-align: center;
  transition: transform 0.2s ease;
}

.team-card:hover {
  transform: translateY(-4px);
  background-color: rgb(43, 60, 80);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.team-card img {
  width: 150px; /* Larger size */
  height: 150px; /* Keep height same as width for square shape */
  object-fit: cover; /* Ensures image covers the area */
  border-radius: 8px; /* Slightly rounded corners for a softer look */
  margin-bottom: 1rem;
}

.team-card h3 {
  margin: 0.5rem 0;
  font-size: 24px;
  color: #333;
}

.team-card p {
  margin: 4px 0;
  font-size: 16px;
  color: #666;
}
