.team-card {
    background-color: #f0f0f0;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    min-width: 200px; 
    
}

.team-card img {
    object-fit: contain;
}

.team-card h3 {
    margin: 0;
    font-size: 24px;
}

.team-card p {
    margin: 4px 0;
    font-size: 16px;
}



/* Hover effect */
.team-card:hover {
    transform: translateY(-5px); /* Slightly raise the card */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

