.team-cards-container {
  text-align: center;
  margin: 0;
  /* padding: 3rem 1px; */
  background-color: white;
}

.team-cards-container h3 {
  font-size: 1.7rem;
  font-weight: normal;
}
.cards-container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto; /* Center the container */
  padding-bottom: 1rem;
  cursor: default;
  flex-wrap: wrap;
}
